.icon {
    width: 32px;
    height: 32px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.food {
    background-color: var(--food-color);
}

.transport {
    background-color: var(--transport-color);
}

.hotel {
    background-color: var(--hotel-color);
}

.shopping {
    background-color: var(--shopping-color);
}

.activity {
    background-color: var(--activity-color);
}

.flight {
    background-color: var(--flight-color);
}

.other {
    background-color: var(--other-color);
}

.drink {
    background-color: var(--drink-color);
}