.page {
    height: 100vh;
    width: 100%;
    background-color: var(--bg-color);
}

.pageContent {
    height: 100%;
    padding: var(--space-8);
}

.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 16px 16px 0 16px;
}

.headerContent {
    width: calc(50% + 16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContent svg {
    color: var(--primary-color);
}

.pageContent>div>h5 {
    margin-bottom: 0;
}

.travels {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 24px;
}

.travelCard {
    width: 100%;
    max-width: 512px;
}