.header {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: var(--space-8) var(--space-8) 0 var(--space-8);
}

.headerContent {
    width: calc(50% + 16px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerContentAction {
    display: flex;
    gap: var(--space-12);
}