.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: var(--travel-footer-height);

    background-color: white;
    /* safe guard because of the leaflet map */
    z-index: 1500; 
}

.navList {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}