.section {
    padding: var(--space-4) 0;
}

.section > h4 {
    text-transform: uppercase;
    margin-bottom: var(--space-24);
    text-align: center;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.45);
}

.cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-12);
    flex-wrap: wrap;
}
