.card {
    position: relative;

    padding: var(--space-8);
    background-color: var(--primary-color);

    border-radius: 16px;
    width: 100%;
    max-width: 512px;
    min-height: 128px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-8);
}

div.header>h4 {
    color: white;
}

.sharedIcon {
    position: absolute;
    right: 16px;
    top: 16px;

    width: 24px;
    height: 24px;
    
    color: #ffffff;
}