.page {
    height: 100vh;
    width: 100vw;
    background-color: var(--bg-color);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.page  h1 {
    font-size: 100px;
    color: var(--primary-color);
    margin-bottom: 0;
}

.content {
    display: flex;
    flex-direction: column;
    gap: var(--space-12);
    align-items: center;
    justify-content: center;
}