.input {
    padding: 6.5px 11px;
    border: 1px solid var(--light-gray);
    border-radius: 2px;
    transition: all 0.3s;
}

.input:focus {
    border: 1px solid var(--primary-color);
    box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
    border-right-width: 1px;
    outline: 0;
}

.calendar {
    z-index: 10;
}