.header {
    position: fixed;
    height: var(--travel-header-height);
    width: 100%;
    padding: var(--space-8);
    background-color: var(--primary-color);
    z-index: 10;
}

.expenses {
    display: flex;
    justify-content: space-around;
}

.navigationContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navigation {
    position: absolute;
    display: flex;
    align-items: center;
    left: 0;
    gap: var(--space-1);
}

.actions {
    position: absolute;
    right: 0;
}

header.header>h5 {
    color: white;
    text-align: center;
    margin: 0;
}

.balance>span {
    font-size: 10px;
    color: white;
    margin-left: 2px;
    text-transform: uppercase;
}

.expenses [class*="ant-statistic"] {
    color: white !important;
}

.skeleton {
    display: flex;
    align-items: center;
    justify-content: center;
}