.link {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-gray);
}

.link.active {
    color: var(--primary-color);
}

.link:hover {
    color: var(--primary-color-hover);
}