.page {
    background-color: var(--bg-color);
}

.header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

.content {
    padding: calc(var(--basic-header-height) + var(--space-8)) var(--space-8) var(--space-8) var(--space-8);
}

.title {
    width: 100%;
    display: flex;
    justify-content: center;
}