.page {
    background-color: var(--bg-color);
}

.pageContent {
    padding-top: var(--travel-header-height);
    padding-bottom: var(--travel-footer-height);
    background-color: var(--bg-color);
}