.page {
    background-color: var(--bg-color);
}

.pageContent {
    padding-top: calc(var(--travel-header-height) + var(--space-8));
    padding-bottom: calc(var(--travel-footer-height) + var(--space-8));
    background-color: var(--bg-color);
}