.page {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-color: var(--bg-color);
    overflow: hidden;
}

.content {
    height: 100vh;
    padding: var(--space-8);
    overflow-y: auto;
}

.info {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}