.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    max-width: 50%;
}

.content > h4 {
    font-size: 64px;
    color: var(--primary-color);
}

.content>span {
    font-size: 24px;
}

.imageContainer {
    position: relative;
}

.mainImage {
    width: auto;
    height: 450px;
}

.cover {
    position: absolute;
    left: -40px;
    top: 6px;
    width: 450px;
}

@media (max-width: 700px) {
    .section {
        flex-direction: column;
        gap: var(--space-12)
    }

    .mainImage {
        width: auto;
        height: 360px;
    }

    .cover {
        left: -34px;
        top: 6px;
        width: 360px;
    }

    .content {
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .mainImage {
        width: auto;
        height: 620px;
    }

    .cover {
        left: -55px;
        top: 10px;
        width: 620px;
    }
}