.section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    max-width: 50%;
}

.content > h4 {
    font-size: 64px;
    color: var(--primary-color);
}

.content>span {
    font-size: 24px;
}


@media (max-width: 700px) {
    .section {
        flex-direction: column;
        gap: var(--space-12)
    }

    .content {
        max-width: 100%;
    }
}